body {
    background-color: #D780B7;
    /** background-color: #DA79B6;*/
    background-image: url("../static/images/pattern.png");
    background-size: 70px;
}

.bookcover {
    background-color: #EEB2D8;
    border-radius: 8px;
    border: 1px solid #EF7AC4; 
    width: 960px;
    height: 660px;
    margin: 100px auto;
    position: relative;
  }
  
  .bookdot {
    width: 935px;
    height: 635px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    border: 2px dashed white;
  }

  .page {
    background-color: #ffffff;
    width: 915px;
    height: 615px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
  }