@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');

body {
    background-color: #D780B7;
    /** background-color: #DA79B6;*/
    background-image: url("../static/images/pattern.png");
    background-size: 70px;
    font-family: Gowun Batang;
}

.bookcover {
    background-color: #EEB2D8;
    border-radius: 8px;
    border: 1px solid #EF7AC4; 
    width: 960px;
    height: 660px;
    margin: 100px auto;
    position: relative;
  }
  
.bookdot {
  width: 935px;
  height: 635px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  border: 2px dashed white;
}

.page {
  background-color: #eeeeee;
  border-radius: 9px;
  
  /** bookdot div 기준으로 상하좌우 10px씩 떨어져있는 위치에 고정 */
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  display: flex;
}

.column1{
  flex: 0.4;
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.row1{
  flex: 0.2;
  text-align: center;
}

.row2{
  flex: 2;  
}

.column2{
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 15px;
  
}

.row4{
  flex: 0.2;
  text-align: let;
}

.row5{
  flex: 2;
  display: flex;
}

.column3{
  flex: 0.1;
  display: flex;
  border: 1px solid gray;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.box{
  border: 1px solid grey;
  border-radius: 9px;
  background-color: white;
}

.row6{
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.row7{
  margin-left: 30px;
  margin-right: 30px;
  font-size: 13px;
}

.main{
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.updated_news_container{
  flex: 0.3;
  display: flex;
  flex-direction: row;
}

.updated_news_left{
  flex: 0.8;
  display: flex;
  flex-direction: column;
}

.updated_news{
  color: #ff1493;
}

.miniroom{
  color: #ff1493;
}

.updated_news_right{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.right_low{
  flex:0.1;
  display: flex;
  margin-right: 5px;
}

.left_picture{
  background-color: #FF6666;
  border-radius: 3px;
  padding-left: 2px;
  padding-right: 2px;
  margin-right: 5px;
}

.left_board{
  background-color: #3399FF;
  border-radius: 3px;
  padding-left: 2px;
  padding-right: 2px;
  margin-right: 5px;
}

.count {
  margin-left: 5px;
  margin-right: 5px;
  color: blue;
  display: inline-block; 
}

.miniroom_container{
  flex: 1;
  display: flex;
}

.left_column1{
  margin-bottom: 3px;
}

.right_column1{
  display: flex;
  flex-direction: row;
}

.right_column2{
  display: flex;
  flex-direction: row;
}

.right1{
  display: flex;
  flex-direction: row;
  flex: 1;
}

.right2{
  display: flex;
  flex-direction: row;
  flex: 1;
}

.right3{
  display: flex;
  flex-direction: row;
  flex: 1;
}

.right4{
  display: flex;
  flex-direction: row;
  flex: 1;
}